<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>{{ site.title2 }}</span></a></h1>
    <div class="navbar">
    	    <!-- <label for="menu">Menu</label> -->
    <select name="menu" id="menu" onchange="javascript:handleSelect(this)">
    	<option selected="selected">Menu</option>
      <option value="{{ '/about.md' | prepend: site.baseurl }}">About</option>
      <option value="{{ '/ml.md' | prepend: site.baseurl }}">Ml</option>
      <option value="{{ '/assets/resume.pdf' | prepend: site.baseurl }}">Resume</option>
      <option value="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</option>
      <!-- <option>Faster</option> -->
    </select>
      <!-- <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ '/ml' | prepend: site.baseurl }}">ML</a></li>
      <li><a href="{{ '/assets/resume.pdf' | prepend: site.baseurl }}">Resume</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a></li> -->
    </div>
  </div>
</nav>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
  	$(document).ready(function(){
  		$('#menu').selectmenu();
  	})
  </script>